.modal-content-container {
  display: flex;
}

.word-input-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.exit {
  position: relative;
  float: right;
}

.new-note {
  position: relative;
  float: right;
}

.cards {
  position: relative;
  float: right;
  overflow-y: scroll;
}