.card {
  font-family: 'Playfair Display', sans-serif;
  background-color: rgb(255, 208, 119);
  width: 30vw;
  padding: 0 0 10px 10px;
  cursor: pointer;
  border: 1px rgb(70, 52, 20) dashed;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.word {
  color: rgb(70, 52, 20);
  font-weight: 700;
}

.type {
  margin-left: 20px;
}

.word-definition {
  color: rgb(70, 52, 20);
  font-weight: 400;
  margin: 0;
}