.notes {
  width: 70vw;
  padding: 0 20px;
}

.notes-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit-note {
  height: 35px;
  width: 100px;
  border: 1px dashed #000;
}