@import url('./notes.css');

.questions-header {
  display: flex;
  align-items: center;
}

.question {
  height: 30px;
  overflow-wrap: break-word;
  hyphens: auto;
}

.questions-navigation {
  height: 20px;
  width: 40px;
  margin-right: 10px;
  border: 1px solid rgb(79, 79, 79);
  cursor: pointer;
  outline: none;
}