.term-list {
  position: relative;
  float: right;
  height: 100vh;
  width: 30vw;
  padding-left: 20px;
}

.term-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-content-container {
  display: flex;
}

.word-input-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 25vh;
}

.word-instructions-container {
  width: 40vw;
  margin-top: 25vh;
  margin-left: 10vw;
}

.exit {
  position: relative;
  float: right;
}

.cards {
  overflow-y: scroll;
}

.submit-term {
  height: 35px;
  width: 100px;
}